.aboutme-main{
    display: flex;
    color: white;
    left: 10%;
}

.aboutme-main-p{
    width: 40%;
    margin-left: 15%;
    height: 200px;
    font-size: 20px;
    padding-right: 15%;
    text-align: start;
}

.aboutme-pfp{
    height: 300px;
}

.aboutme-heading{
    position: relative;
    top: 10%;
    margin-bottom: 5%;
}

.aboutme a{
    position: relative;
    right: 31%
}

@media (min-width: 390px) and (max-width: 844px) {

    .aboutme-main {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        padding: 20px;
        margin: 0 auto;
        width: 100%;
    }

    .aboutme-main-p {
        width: 90%;
        margin: 20px 0;
        font-size: 15px;
        padding: 0;
        text-align: start;
        line-height: 1.6;
    }

    .aboutme-pfp {
        width: 50%;
        height: auto;
        max-width: 300px;
        margin: 20px 0;
        border-radius: 50%;
    }

    .aboutme-heading {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 24px;
        padding-bottom: 20px;
    }

    .aboutme a {
        display: block;
        text-align: center; 
        margin: 10px auto; 
    }
}
